{
  "swagger": "2.0",
  "info": {
    "description": "Github Scorecard",
    "version": "1.0.0",
    "title": "Github Scorecard",
    "termsOfService": "http://swagger.io/terms/",
    "contact": { "email": "scorecard.no-host.com" },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "scorecard.no-host.com",
  "basePath": "/api/v1",
  "tags": [
    {
      "name": "user",
      "description": "User data"
    },
    {
      "name": "pull-request",
      "description": "Pull request"
    },
    {
      "name": "score",
      "description": "Score"
    }
  ],
  "schemes": ["https", "http"],
  "paths": {
    "/users": {
      "get": {
        "tags": ["user"],
        "summary": "List all users",
        "description": "List all users",
        "operationId": "index",
        "produces": ["application/json"],
        "parameters": [
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/User" }
            }
          }
        }
      }
    },
    "/users/{login_name}": {
      "get": {
        "tags": ["user"],
        "summary": "Get data from a specific user by login name",
        "description": "Get data from a specific user by login name",
        "operationId": "show",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "login_name",
            "in": "path",
            "description": "Login name of the user",
            "required": true,
            "type": "string",
            "items": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": { "$ref": "#/definitions/User" }
          },
          "404": { "description": "User not found" }
        }
      }
    },
    "/pull-requests": {
      "get": {
        "tags": ["pull-request"],
        "summary": "List all pull-requests",
        "description": "List all pull-requests",
        "operationId": "index",
        "produces": ["application/json"],
        "parameters": [
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/PullRequest" }
            }
          }
        }
      }
    },
    "/pull-requests/{id}": {
      "get": {
        "tags": ["pull-request"],
        "summary": "Get data from a specific pull-request by Github ID",
        "description": "Get data from a specific pull-request by Github ID",
        "operationId": "show",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the pull-request",
            "required": true,
            "type": "integer",
            "items": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": { "$ref": "#/definitions/PullRequest" }
          },
          "404": { "description": "Pull-request not found" }
        }
      }
    },
    "/scores": {
      "get": {
        "tags": ["score"],
        "summary": "List of results for the last 30 weeks",
        "description": "List of results for the last 30 weeks",
        "operationId": "index",
        "produces": ["application/json"],
        "parameters": [
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Week" }
            }
          }
        }
      }
    },
    "/scores/{week}": {
      "get": {
        "tags": ["score"],
        "summary": "Get scores from a specific week",
        "description": "Get scores from a specific week",
        "operationId": "show",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "week",
            "in": "path",
            "description": "Week number of the year",
            "required": true,
            "type": "integer",
            "items": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": { "$ref": "#/definitions/Week" }
          },
          "404": { "description": "Week data not found" }
        }
      }
    }
  },
  "definitions": {
    "User": {
      "type": "object",
      "properties": {
        "id": { "type": "integer", "format": "int64" },
        "login_name": { "type": "string" }
      }
    },
    "PullRequest": {
      "type": "object",
      "properties": {
        "id": { "type": "integer", "format": "int64" },
        "login_name": { "type": "string" },
        "state": {"type": "string"},
        "score": {"type": "integer"},
        "created": {"type": "string", "format": "date-time"}
      }
    },
    "WeeklyScore": {
      "type": "object",
      "properties": {
        "login_name": {"type": "string"},
        "score": {"type": "integer"}
      }
    },
    "Week": {
      "type": "object",
      "properties": {
        "year": {"type": "integer"},
        "week": {"type": "integer"},
        "total_score": {"type": "integer"},
        "scores": {
          "type": "array",
          "items": { "$ref": "#/definitions/WeeklyScore" }
        }
      }
    }
  }
}
